h2{
  font-family: comic sans ms;
}

h1,h3,h2{

  font-size: 2.4rem;
  line-height: 1.5;
}



body{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}




.container-fluid{
  padding: 7% 15% ;

}

#title .container-fluid{
  padding: 3% 15%;
}


/*navigation bar*/
.navbar-brand{
  font-family: comic sans ms;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar{
    padding: 4rem;
}

.navbar-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: Lucida Sans;
}

/*download button*/

.download-button{
  margin:5% 3% 5% 0%;
}

.title-image{
  margin: auto;
  transform: rotate(15deg);
  position: relative;
  bottom: 60px;
}

.meet{
   font-family: segoe script;
   text-align: left;
   padding-left: 54px;
  

 }

 /* features */
 #features{
  position: relative;
 }

 .feature-title{
  font-size: 1.5rem;


 }

 .feature-box{
  padding: 4% ;
 }


.icon{
  margin-bottom: 1rem;
  color: #ef8172;
}

.icon:hover{
  color: pink;
}



/*testimonials*/



.testimonial-image{
  margin: auto;
}

/* carousel */
.carousel-item{
  padding: 7% 15%;
}

/* pricing */


p{
  line-height: 1.5;
}




/* footer */


.social-icon{
  margin: 10px 10px 10px 10px;
}


/* section */
.whitesection{
  background-color: #fff;
}

.coloredsection{
  background-color: #ef8172;
  color: #fff;

}

@media (max-width:1028px){
  .title-image{
    position: static;
  }
    #title{
      text-align: center;
    }
 
}